{% extends "base.html" %}
{% load static %}
{% block title %}
    my blogs
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}
{% block content %}
    <section id="welcome">
        <header>
            <img src="https://placehold.co/320x240"
                 height="320"
                 width="240"
                 alt="Blessin - The Author Of This Blog" />
            <h2>Blessin's Blog</h2>
        </header>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit facilis itaque, dignissimos dolores aperiam sapiente expedita dicta cumque quas sequi earum iure a natus, rerum assumenda. At nisi dolore hic!
        </p>
    </section>
    <section id="latest-posts">
        <h2>My Latest Thought</h2>
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>
    <section id="about">
        <h2>What I Do</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, aperiam animi necessitatibus neque accusantium iure consequuntur repellendus porro quisquam odio voluptatum quasi, rerum, ipsum ipsam voluptatem. Laudantium illo asperiores saepe.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, aperiam animi necessitatibus neque accusantium iure consequuntur repellendus porro quisquam odio voluptatum quasi, rerum, ipsum ipsam voluptatem. Laudantium illo asperiores saepe.
        </p>
    </section>
{% endblock content %}
